[Unit]
Description=Gunicorn server for sitename
# sitename (sana451.ru or 89.111.170.80)

[Service]
Restart=on-failure
User=root
WorkingDirectory=/home/username/sites/sitename/source
ExecStart=/home/username/sites/sitename/virtualenv/bin/gunicorn --bind unix:/tmp/sitename.socket superlists.wsgi:application

[Install]
WantedBy=multi-user.target

